.App {
    text-align: center;
}

.App-logo {
    float: left;
    margin: 6px 0 0 10px;
}

.App-logo a {
    display: block;
}
.landingpage-sticky {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10001;
}
.App-header {
   background: #116a9e;
    height: 54px;
    position: relative;
}

.logo-border {
    border-right: 1px solid #4188b1;
    width: 1px;
    float: left;
    height: 35px;
    margin: 10px 15px 0 14px;
}
.menu-left {
    float: left;
    padding: 0;
    z-index: 3;
    position: relative;
}
header ul, header li {
    margin: 0;
    padding: 0;
}
ul, ol {
    list-style: none;
}
.menu-left>li {
    float: left;
    margin: 0 10px;
    position: relative;
}

header ul li, header li {
    list-style-type: none;
}

.menu-left>li>a, .menu-right>li>a {
    line-height: normal;
}

.menu-left>li>a, .menu-right>li>a {
    color: #fff;
    text-decoration: none;
    padding: 19px 0;
    display: block;
    cursor: pointer;
}

.menu-left>li.creditscore-menu a {
    border: 1px solid #fff;
    margin: 13px 0 0;
    padding: 5px 8px;
    text-align: center;
    text-transform: uppercase;
}

.short-menu-right {
    margin-right: 0;
}

.menu-right {
    float: right;
    padding: 0;
    margin: 0 16px 0 0;
}

.menu-left>li>a, .menu-right>li>a {
    line-height: normal;
}

.menu-left>li>a, .menu-right>li>a {
    color: #fff;
    text-decoration: none;
    padding: 19px 0;
    display: block;
    cursor: pointer;
}
.eform-strip {
    background: #40e0d0;
    text-align: center;
}
.eform-strip h2 {
    font-size: 20px;
    padding: 10px;
    margin: 0;
    font-weight: 400;
    color: #fff;
}

.radio-col {
    display: inline-block;
    float: none;
    vertical-align: top;
    padding: 8px 10px;
}

.labelContainer {
    padding: 8px 10px;
    display: block;
    cursor: pointer;
    font-size: 14px;
    margin-bottom: 0;
    position: relative;
}

.labelContainer.checked {
    background: #40e0d0;
    border-radius: 5px;
}

.labelContainer .textLabel {
    display: block;
    margin: 5px 0;
    line-height: normal;
}






/*last slide*/

.SlideshowViewDesktop_slideContainer_30QVq {
    color: #fff;
    background: #3dbfd9;
    position: relative;
    text-align: center;
    overflow: hidden;
    min-height: 540px;
}
.Company_slideDesktopContainerBg_dbizA {
    background-image: url(https://bankbazaar.com/images/sprite/company-bg-v1.png);
    background-position: center -5px;
    background-repeat: no-repeat;
    min-height: 478px;
}

.Company_slideDesktopContainerBg_dbizA .font-xxlg {
    font-size: 22px;
    position: relative;
    top: 188px;
}
.SlideshowViewDesktop_slideTitle_2hXVo {
    margin: 15px 0 0;
}
.font-xxlg {
    /* font-size: 26px; */
    line-height: 30px;
}

.SlideshowViewDesktop_slideControlPrev_28nsF {
    position: absolute;
    left: 15px;
    top: 45%;
    margin-top: -20px;
}
.SlideshowViewDesktop_slideControlButtonIcon_iILAn {
    background: #2c3e50;
    border: 3px solid #fff;
    border-radius: 23px;
    opacity: .5;
    display: inline-block;
    padding: 0 2px 4px;
    cursor: pointer;
    height: 40px;
    width: 40px;
}
a {
    text-decoration: none;
    color: #38acc9;
    transition: all .25s ease 0s;
}
.Sprite_iconLeft_FXNM5 {
    background-position: -4px -1085px;
}
.SlideshowViewDesktop_slideControlNext_3njXD {
    position: absolute;
    right: 15px;
    top: 45%;
    margin-top: -20px;
}
.Sprite_iconRight_2_JIq {
    background-position: -3px -1131px;
}
.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}